.catalog {

  padding-bottom: toRem(107);

  /* .catalog__container */
  &__container {}

  /* .catalog__title */
  &__title {
    font-weight: 700;
    font-size: 65px;
    line-height: 105%;
    letter-spacing: -0.01em;
    color: #000;

    @include adaptiveValue("font-size", 62, 22);

    @include adaptiveValue("margin-top", 22, 6);
    @include adaptiveValue("margin-bottom", 30, 19);

    @media (max-width:$mobile) {
      font-weight: 600;
      line-height: 109%;
      letter-spacing: -1.1px;
    }
  }

  &__filter-mob-top {
    display: none;

    p {
      font-size: 16px;
      color: #050505;
    }

    @media (max-width: toEm(538)) {
      display: flex;
      margin-bottom: toRem(9);
      gap: 174px;
      // max-width: 368px;
    }

    @media (max-width: toEm(390)) {
      gap: 158px;
    }

    @media (max-width: toEm(360)) {
      gap: 128px;
    }
  }

  /* .catalog__search-filter */
  &__search-filter {

    @include adaptiveValue("margin-bottom", 40, 19);

    @media (max-width: toEm(930)) {
      max-width: 711px;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: toEm(723)) {
      max-width: 510px;
    }

    @media (max-width: toEm(538)) {
      max-width: 368px;
    }

  }

  /* .catalog__row */
  &__row {
    display: grid;
    grid-template-columns: 65.8% auto;
    gap: 13px;

    &.big-map {
      grid-template-columns: auto 65%;
      gap: 24px;
    }

    @media (max-width: toEm(1110)) {
      grid-template-columns: auto;
      justify-content: center;
    }
  }

  /* .catalog__list */
  &__list {
    display: grid;
    gap: 10px;

    &.big-map {
      gap: 6px;
    }
  }

  /* .catalog__item */
  &__item {}

  /* .catalog__map */
  &__map {
    overflow: hidden;
    border-radius: 20px;
    width: 100%;
  }
}


.select_search-filter {
  @media (max-width: toEm(943)) {
    display: none;
  }
}


.main-filter-form {}

.filter {}

.filter-checkboxes {

  /* .filter-checkboxes_rooms */
  &_rooms {}

  /* .filter-checkboxes_guest */
  &_guest {}

  /* .filter-checkboxes_beds */
  &_beds {}
}


.filter-checkboxes-list {}

.filter-checkbox {}

.intro {

  /* .intro__btn */
  &__btn {}
}

.btn {

  /* .btn__filter */
  &__filter {}
}


//////////////////////////////////////

.item-catalog {
  position: relative;
  display: flex;
  padding: 14px;
  gap: 23px;

  background-color: #fff;
  transition: all 0.3s;

  @include adaptiveValue("border-radius", 20, 6);

  @media (min-width:toEm(1110)) {
    padding-right: 40px;
  }

  @media (max-width:$mobile) {
    gap: 20px;
    padding: 12px;
  }

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 27px 42px 0 rgba(64, 94, 137, 0.19);
    }
  }

  @media (max-width:$mobile) {
    flex-direction: column;
  }

  /* .item-catalog__link */
  &__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  /* .item-catalog__media */
  &__media {
    border-radius: 10px;
    overflow: hidden;
  }

  /* .item-catalog__photos */
  &__photos {
    max-width: 292px;
    // width: 100%;
    height: 295px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;

    @media (max-width: toEm(1110)) {
      max-width: 333px;
      // width: 100%;
      height: 265px;
    }

    .big-map & {
      max-width: 163px;
      height: 147px;
    }
  }

  /* .item-catalog__pagination */
  &__pagination {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 12px;
    gap: 5px;
    z-index: 2;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%, 0px);


    ._big-map & {
      transform: translate(-50%, 0px) !important;
    }

    ._catalog & {}
  }

  /* .item-catalog__bages */
  &__bages {
    position: absolute;
    top: 13px;
    left: 12px;

    height: 36px;
    width: 129px;
    border-radius: 4px;
    padding: 10px;
    max-width: 100%;
    background-color: #fff;

    font-size: 14px;
    line-height: 114%;
    color: $masterColor;
    z-index: 2;

    .big-map & {
      display: none;
    }
  }

  /* .item-catalog__favorite */
  &__favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;

    z-index: 2;

    .big-map & {
      top: 5px;
      right: 5px;
    }

    svg {
      transition: all 0.3s;
      position: absolute;
      top: 0;
      right: 0;
    }

    @media (any-hover: hover) {
      &:hover {
        .svg-fav-null {
          opacity: 0;
        }

        .svg-fav-path {
          opacity: 1;
        }
      }
    }

    &.active {
      .svg-fav-fill {
        display: block;
        top: 5px;
        right: 2px;
      }

      .svg-fav-null {
        opacity: 0;
      }

      .svg-fav-path {
        opacity: 0;
      }
    }
  }

  /* .item-catalog__info */
  &__info {
    display: flex;
    flex-direction: column;

    @include adaptiveValue("padding-top", 16, 2);
  }

  /* .item-catalog__adress */
  &__adress {
    font-weight: 600;
    font-size: 22px;
    line-height: 73%;
    color: $mainColor;

    margin-bottom: 14px;

    @media (max-width:$mobile) {
      font-size: 20px;
    }

    .big-map & {
      font-size: 16px;
      line-height: 100%;
    }
  }

  /* .item-catalog__price */
  &__price {
    font-size: 22px;
    font-weight: 600;
    line-height: 73%;
    color: $masterColor;

    margin-bottom: 17px;

    @media (max-width:$mobile) {
      font-size: 20px;
    }

    .big-map & {
      font-size: 16px;
      line-height: 100%;
    }
  }

  /* .item-catalog__desc */
  &__desc {
    display: flex;
    align-items: center;
    gap: 26px;

    margin-bottom: 20px;

    .big-map & {
      gap: 13px;
    }
  }

  /* .item-catalog__text */
  &__text {
    margin-bottom: 30px;

    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    color: rgba(0, 0, 0, 0.6);

    @media (min-width:toEm(1110)) {
      padding-right: 80px;
    }

    @media (max-width:$mobile) {
      font-size: 14px;
      line-height: 143%;
    }

    .big-map & {
      display: none;
    }
  }

  /* .item-catalog__btn */
  &__btn {
    height: 62px;
    width: 100%;
    margin-top: auto;
    z-index: 2;

    background-color: $masterColor;

    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #fff;
    transition: all 0.3s;

    @include adaptiveValue("height", 62, 52);

    @media (any-hover: hover) {
      &:hover {
        background-color: #5090ee;
      }
    }

    .big-map & {
      display: none;
    }

  }
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 2 / 1;
  }
}

.swiper-pagination {}

.item-desc {
  position: relative;

  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000;

  &:not(:last-child) {
    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50px;
      background-color: $masterColor;
      right: -16px;
      top: 50%;
      transform: translate(0px, -50%);

      .big-map & {
        width: 5px;
        height: 5px;
        right: -10px;
      }
    }
  }

  @media (max-width:$mobile) {
    font-size: 14px;
  }

  .big-map & {
    font-size: 10px;
    line-height: 160%;
  }
}

.item-flat {}

.item-beds {}

.item-sq {}

.item-link {
  align-items: center;
  gap: 8px;

  font-size: 14px;
  line-height: 114%;
  color: $masterColor;
  display: none;

  .big-map & {
    display: block;
    display: flex;
    margin-top: auto;
  }
}

.open-map {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  top: 13px;
  right: 13px;

  background-color: #fff;
  border-radius: 4px;
  padding: 10px 16px;
  // width: 149px;
  height: 44px;

  span {
    line-height: 89%;
    color: #000;
  }

  @media (max-width: toEm(1245)) {
    display: none;
  }
}

.svg-icon-open {}


.catalog__map {
  position: sticky;
  top: 81px;
  // position: relative;
  height: 501px;

  @media (max-width: toEm(1110)) {
    display: none;
  }
}

.catalog__map #map {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  // height: 100%;
  height: 501px;
}

#map {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}


.ymaps-2-1-79-controls-pane {
  display: none;
  /* Скрывает все элементы управления */
}

.swiper-pagination-bullet {

  ._catalog & {}

  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 50px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $masterColor;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  transition: all 0.3s;

  @media (any-hover: hover) {
    &:hover {
      &::before {
        opacity: 0.7;
      }
    }
  }

  svg {
    z-index: 3;
  }

  &::after {
    display: none;
  }

  &::before {
    content: '';
    inset: 0;
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50px;
  }
}

// .item-catalog .swiper-button-prev,
// .item-catalog .swiper-button-next {
//   opacity: 0;
//   // position: relative;
//   width: 35px;
//   height: 35px;
//   transition: all 0.3s;

//   @media (any-hover: hover) {
//     &:hover {
//       &::before {
//         opacity: 0.7;
//       }
//     }
//   }

//   svg {
//     z-index: 3;
//   }

//   &::after {
//     display: none;
//   }

//   &::before {
//     content: '';
//     inset: 0;
//     position: absolute;
//     width: 35px;
//     height: 35px;
//     background-color: #fff;
//     border-radius: 50px;
//   }
// }

.item-catalog__photos {
  @media (any-hover: hover) {
    &:hover {

      .swiper-button-prev,
      .swiper-button-next {
        opacity: 1;
      }
    }
  }
}

.svg-fav-path {
  opacity: 0;
}

.svg-fav-fill {
  display: none;
}

.catalog__filter-row {
  @media (max-width: toEm(538)) {
    display: none;
    position: fixed;
    z-index: 35;
    padding: 0 20px;
    background: #f5f5f5;
    width: 100%;
    left: 0;
    top: 0;
    // height: 100vh;
    padding-top: 80px;
    overflow-y: auto;
  }
}


.bog-map .swiper-button-next,
.bog-map .swiper-button-prev {
  display: none;
}