.catalog {

  padding-bottom: toRem(107);

  /* .catalog__container */
  &__container {}

  /* .catalog__title */
  &__title {
    margin-top: 22px;
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 65px;
    line-height: 105%;
    letter-spacing: -0.01em;
    color: #000;
  }

  /* .catalog__search-filter */
  &__search-filter {
    margin-bottom: 40px;
  }

  /* .catalog__row */
  &__row {
    display: grid;
    grid-template-columns: 65.8% auto;
    gap: 13px;
  }

  /* .catalog__list */
  &__list {}

  /* .catalog__item */
  &__item {}

  /* .catalog__map */
  &__map {}
}

.title-h2 {}

.search-filter {}

.main-filter-form {}

.filter {}

.filter-checkboxes {

  /* .filter-checkboxes_rooms */
  &_rooms {}

  /* .filter-checkboxes_guest */
  &_guest {}

  /* .filter-checkboxes_beds */
  &_beds {}
}


.filter-checkboxes-list {}

.filter-checkbox {}

.intro {

  /* .intro__btn */
  &__btn {}
}

.btn {

  /* .btn__filter */
  &__filter {}
}


//////////////////////////////////////

.item-catalog {
  position: relative;
  padding: 14px;
  border-radius: 20px;
  display: flex;
  gap: 23px;

  background-color: #fff;
  transition: all 0.3s;

  @media (any-hover: hover) {
    &:hover {
      box-shadow: 0 27px 42px 0 rgba(64, 94, 137, 0.19);
    }
  }

  /* .item-catalog__link */
  &__link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  /* .item-catalog__media */
  &__media {
    border-radius: 10px;
    overflow: hidden;
  }

  /* .item-catalog__photos */
  &__photos {
    max-width: 292px;
    width: 100%;
    height: 295px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }

  /* .item-catalog__pagination */
  &__pagination {}

  /* .item-catalog__bages */
  &__bages {
    position: absolute;
    top: 13px;
    left: 12px;

    height: 36px;
    width: 129px;
    border-radius: 4px;
    padding: 10px;
    max-width: 100%;
    background-color: #fff;

    font-size: 14px;
    line-height: 114%;
    color: $masterColor;
    z-index: 2;
  }

  /* .item-catalog__favorite */
  &__favorite {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;

    z-index: 2;
  }

  /* .item-catalog__info */
  &__info {
    padding-top: 16px;
    display: flex;
    flex-direction: column;
    // padding-right: 80px;
  }

  /* .item-catalog__adress */
  &__adress {
    font-weight: 600;
    font-size: 22px;
    line-height: 73%;
    color: $mainColor;

    margin-bottom: 14px;
  }

  /* .item-catalog__price */
  &__price {
    font-size: 22px;
    font-weight: 600;
    line-height: 73%;
    color: $masterColor;

    margin-bottom: 17px;
  }

  /* .item-catalog__desc */
  &__desc {
    display: flex;
    align-items: center;
    gap: 26px;

    margin-bottom: 20px;
  }

  /* .item-catalog__text */
  &__text {
    // max-width: 374px;
    padding-right: 80px;

    font-size: 16px;
    font-weight: 400;
    line-height: 125%;
    color: rgba(0, 0, 0, 0.6);
  }

  /* .item-catalog__btn */
  &__btn {
    height: 62px;
    width: 100%;
    margin-top: auto;
    z-index: 2;

    background-color: $masterColor;

    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #fff;
    transition: all 0.3s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #5090ee;
      }
    }

  }
}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.swiper-pagination {}

.item-desc {
  position: relative;

  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #000;

  &:not(:last-child) {
    &::before {
      content: '';
      position: absolute;
      width: 6px;
      height: 6px;
      border-radius: 50px;
      background-color: $masterColor;
      right: -16px;
      top: 50%;
      transform: translate(0px, -50%);
    }
  }
}

.item-flat {}

.item-beds {}

.item-sq {}

.open-map {}

.svg-icon-open {}


.catalog__map #map {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}