.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px;
  border-radius: 6px;
  transition: all .3s ease;

  height: 43px;
  width: 186px;

  @media (max-width: toEm(1010)) {

    .header__buttons & {
      width: auto;
    }
  }

  @media (max-width:$tablet) {
    height: 40px;
  }


  span {
    font-family: $secondFamily;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.05em;
    color: $whiteColor;
    white-space: nowrap;
  }

  &__main {
    background-color: $masterColor;
    transition: all 0.3s;

    @media (max-width: toEm(390)) {
      width: auto;
    }

    ._fixed & {
      @media (any-hover: hover) {
        &:hover {
          background-color: $whiteColor;
          border: 1px solid $masterColor;

          span {
            color: $masterColor;
          }
        }
      }
    }

    ._catalog & {
      @media (any-hover: hover) {
        &:hover {
          background-color: #5090ee;
          border-color: #5090ee;
          // border: 1px solid #5090ee;

          span {
            color: #fff;
          }
        }
      }
    }
  }

  &__outline {
    border: 1px solid $whiteColor;
    transition: all 0.3s;

    @include adaptiveValue("width", 199, 147);

    ._fixed & {
      color: $masterColor;

      @media (min-width:$tablet) {
        border: 1px solid $masterColor;
      }

      @media (any-hover: hover) {
        &:hover {
          background: rgb(194, 216, 248);
          border: none;

          .svg-blue-trubka {
            fill: $masterColor;
          }

          .svg-blue-circl {
            stop-color: $masterColor;
          }

          .svg-blue-fill {
            fill: rgb(194, 216, 248);
          }
        }
      }
    }

    @media (max-width:$tablet) {
      .svg-blue-str {
        fill: $masterColor;
      }
    }

    @media (max-width: toEm(432)) {
      // margin-right: 60px;
    }

    @media (any-hover: hover) {
      &:hover {

        background-color: #fff;

        .svg-blue-str {
          fill: $masterColor;
        }

        span {
          color: $masterColor;

          ._fixed & {
            color: $masterColor;
          }
        }
      }
    }

    span {
      white-space: nowrap;

      color: $whiteColor;

      ._fixed & {
        color: $masterColor;
      }

      @media (max-width:$tablet) {
        color: $masterColor;
        font-size: toRem(12);
      }
    }

    svg {
      width: 24px;
      height: 25px;
      flex: 0 0 24px;
      width: 100%;

      ._fixed & {
        svg {
          height: 23px;
          width: 23px;
        }
      }

      .svg-blue-trubka {
        transition: all 0.3s;

        ._fixed & {
          // fill: $whiteColor;
        }
      }

      .svg-blue-fill {
        transition: all 0.3s;

        ._fixed & {
          // fill: $masterColor;
        }
      }

      .svg-blue-circl {
        transition: all 0.3s;

        ._fixed & {
          stop-color: $masterColor;
        }
      }

    }
  }

  &__tel {
    @media (max-width:$tablet) {
      border: 1px solid $masterColor;
      max-width: 166px;

      @media (max-width: toEm(390)) {
        width: 100%;
      }
    }

    span {
      font-size: 16px;
      line-height: 114%;
      transition: all 0.3s;

      @media (max-width: toEm(390)) {
        font-size: 14px;
      }

      ._fixed & {
        color: $masterColor;
      }

      @media (any-hover: hover) {
        &:hover {
          color: $masterColor;

          text-shadow: 1px 0 0 currentColor;

        }
      }

      @media (max-width:$tablet) {
        letter-spacing: -0.02em;
        color: $masterColor;
      }
    }
  }

  &__filter {
    background: $masterColor;

    transition: all 0.3s;

    // @include adaptiveValue("width", 204, 338);

    @media (min-width:$mobile) {
      width: 204px !important;
    }

    @media (max-width:$mobile) {
      width: 100%;
    }

    @media (any-hover: hover) {
      &:hover {
        background: #5090ee;
      }
    }

    span {
      font-family: $fontFamily;
      font-weight: 500;
      font-size: 18px;
    }
  }
}


.logo-black {
  opacity: 0;
  display: none;
  transition: all 0.3s;

  ._fixed & {
    display: block;
    opacity: 1;
  }

  @media (max-width:$tablet) {
    display: block;
    opacity: 1;
  }
}

.logo-white {
  opacity: 1;
  display: block;
  transition: all 0.3s;

  ._fixed & {
    display: none;
  }

  @media (max-width:$tablet) {
    display: none;
  }
}

.title-h2 {
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 96%;
  letter-spacing: -0.01em;
  color: $mainColor;

  @include adaptiveValue("font-size", 70, 35);
  @include adaptiveValue("margin-bottom", 50, 35);


  @media (max-width:$mobile) {
    line-height: 109%;
  }

  span {
    position: relative;
    color: $whiteColor;

    &::before {
      position: absolute;
      content: '';
      left: -3.7%;
      width: 106.7%;
      top: 1%;
      background-color: $masterColor;
      // height: 87px;
      border-radius: 10px;
      transform: rotate(-1.3deg);
      z-index: -1;

      @include adaptiveValue("border-radius", 10, 4);
      @include adaptiveValue("height", 85, 50);

      @media (max-width:$mobile) {
        left: -3.1%;
        width: 107.7%;
        top: -10%;
      }
    }
  }
}


.breadcrumbs {
  padding-top: toRem(110);

  /* .breadcrumbs__container */
  &__container {}

  /* .breadcrumbs__list */
  &__list {
    display: flex;

    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: #050a1c;

    li {
      &:first-child {
        color: rgba(5, 10, 28, 0.6);

        span {
          color: rgba(5, 10, 28, 0.8);
        }
      }
    }
  }
}