.btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 10px;
  border-radius: 6px;
  transition: all .3s ease;

  height: 43px;
  width: 186px;

  @media (max-width: toEm(1010)) {

    .header__buttons & {
      width: auto;
    }
  }

  @media (max-width:$tablet) {
    height: 40px;
  }


  span {
    font-family: $secondFamily;
    font-size: 14px;
    line-height: 114%;
    letter-spacing: -0.05em;
    color: $whiteColor;
    white-space: nowrap;
  }

  &__main {
    background-color: $masterColor;
    transition: all 0.3s;

    @media (max-width: toEm(390)) {
      width: auto;
    }

    ._fixed & {
      @media (any-hover: hover) {
        &:hover {
          background-color: $whiteColor;
          border: 1px solid $masterColor;

          span {
            color: $masterColor;
          }
        }
      }
    }

    ._catalog & {
      @media (any-hover: hover) {
        &:hover {
          background-color: #5090ee;
          border-color: #5090ee;
          // border: 1px solid #5090ee;

          span {
            color: #fff;
          }
        }
      }
    }
  }

  &__outline {
    border: 1px solid $whiteColor;
    transition: all 0.3s;

    @include adaptiveValue("width", 199, 147);

    ._fixed & {
      color: $masterColor;

      @media (min-width:$tablet) {
        border: 1px solid $masterColor;
      }

      @media (any-hover: hover) {
        &:hover {
          background: rgb(194, 216, 248);
          border: none;

          .svg-blue-trubka {
            fill: $masterColor;
          }

          .svg-blue-circl {
            stop-color: $masterColor;
          }

          .svg-blue-fill {
            fill: rgb(194, 216, 248);
          }
        }
      }
    }

    @media (max-width:$tablet) {
      .svg-blue-str {
        fill: $masterColor;
      }
    }

    @media (max-width: toEm(432)) {
      // margin-right: 60px;
    }

    @media (any-hover: hover) {
      &:hover {

        background-color: #fff;

        .svg-blue-str {
          fill: $masterColor;
        }

        span {
          color: $masterColor;

          ._fixed & {
            color: $masterColor;
          }
        }
      }
    }

    span {
      white-space: nowrap;

      color: $whiteColor;

      ._fixed & {
        color: $masterColor;
      }

      @media (max-width:$tablet) {
        color: $masterColor;
        font-size: toRem(12);
      }
    }

    svg {
      width: 24px;
      height: 25px;
      flex: 0 0 24px;
      width: 100%;

      ._fixed & {
        svg {
          height: 23px;
          width: 23px;
        }
      }

      .svg-blue-trubka {
        transition: all 0.3s;

        ._fixed & {
          // fill: $whiteColor;
        }
      }

      .svg-blue-fill {
        transition: all 0.3s;

        ._fixed & {
          // fill: $masterColor;
        }
      }

      .svg-blue-circl {
        transition: all 0.3s;

        ._fixed & {
          stop-color: $masterColor;
        }
      }

    }
  }

  &__tel {
    @media (max-width:$tablet) {
      border: 1px solid $masterColor;
      max-width: 166px;

      @media (max-width: toEm(390)) {
        width: 100%;
      }
    }

    span {
      font-size: 16px;
      line-height: 114%;
      transition: all 0.3s;

      @media (max-width: toEm(390)) {
        font-size: 14px;
      }

      ._fixed & {
        color: $masterColor;
      }

      @media (any-hover: hover) {
        &:hover {
          color: $masterColor;

          text-shadow: 1px 0 0 currentColor;

        }
      }

      @media (max-width:$tablet) {
        letter-spacing: -0.02em;
        color: $masterColor;
      }
    }
  }

  &__filter {
    background: $masterColor;

    transition: all 0.3s;

    // @include adaptiveValue("width", 204, 338);

    @media (min-width:$mobile) {
      width: 204px !important;
    }

    .intro__search-filter & {
      @media (max-width:$mobile) {
        width: 100%;
      }
    }

    ._catalog & {
      @media (max-width: toEm(723)) {
        width: 100%;
      }
    }

    @media (any-hover: hover) {
      &:hover {
        background: #5090ee;
      }
    }

    span {
      font-family: $fontFamily;
      font-weight: 500;
      font-size: 18px;
    }
  }
}


.logo-black {
  opacity: 0;
  display: none;
  transition: all 0.3s;

  ._fixed & {
    display: block;
    opacity: 1;
  }

  @media (max-width:$tablet) {
    display: block;
    opacity: 1;
  }
}

.logo-white {
  opacity: 1;
  display: block;
  transition: all 0.3s;

  ._fixed & {
    display: none;
  }

  @media (max-width:$tablet) {
    display: none;
  }
}

.title-h2 {
  font-family: var(--font-family);
  font-weight: 700;
  line-height: 96%;
  letter-spacing: -0.01em;
  color: $mainColor;

  @include adaptiveValue("font-size", 70, 35);
  @include adaptiveValue("margin-bottom", 50, 35);


  @media (max-width:$mobile) {
    line-height: 109%;
  }

  span {
    position: relative;
    color: $whiteColor;

    &::before {
      position: absolute;
      content: '';
      left: -3.7%;
      width: 106.7%;
      top: 1%;
      background-color: $masterColor;
      // height: 87px;
      border-radius: 10px;
      transform: rotate(-1.3deg);
      z-index: -1;

      @include adaptiveValue("border-radius", 10, 4);
      @include adaptiveValue("height", 85, 50);

      @media (max-width:$mobile) {
        left: -3.1%;
        width: 107.7%;
        top: -10%;
      }
    }
  }
}


.breadcrumbs {
  @include adaptiveValue("padding-top", 110, 55);


  ._flat & {

    @media (max-width: toEm(600)) {
      display: none;
    }
  }

  /* .breadcrumbs__container */
  &__container {}

  /* .breadcrumbs__list */
  &__list {
    display: flex;

    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    color: #050a1c;

    @include adaptiveValue("font-size", 16, 12);

    // @media (max-width: toEm(390)) {
    //   font-size: 12px;
    // }

  }

  &__item {
    transition: all 0.3s;

    &_active {
      a {
        color: rgba(5, 10, 28, 0.6);

        span {
          color: rgba(5, 10, 28, 0.8);
        }

        @media (any-hover: hover) {
          &:hover {
            color: $masterColor;
          }
        }
      }

    }

  }
}

.span-1 {

  @media (max-width:$tablet) {
    padding: 6px 9px !important;
  }
}

.filter-open {
  display: none;

  @media (max-width: toEm(538)) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 10px;
    border: 1px solid $masterColor;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 167%;
    letter-spacing: -0.02em;
    color: $masterColor;
  }
}

.filter-mob-top {
  display: none;

  @media (max-width: toEm(538)) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;

    font-weight: 400;
    font-size: 14px;
    color: $masterColor;
  }
}




.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translate(0px, -50%);
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper-pagination {
  position: absolute;
  display: flex;
  align-items: center;
  bottom: 12px;
  gap: 5px;
  z-index: 2;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%, 0px);
}

.swiper-pagination-bullet {

  width: 9px;
  height: 9px;
  background-color: #fff;
  border-radius: 50px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $masterColor;
}


.swiper-slide {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 2 / 1;

    .flat__gallery & {
      aspect-ratio: 0;
    }

    .flat__more & {
      object-fit: fill;
    }

    .gallery-top__slider & {
      @media (max-width: toEm(500)) {
        aspect-ratio: 359 / 198;
      }
    }
  }
}

// .item-catalog-prev.swiper-button-prev,
// .item-catalog-prev.swiper-button-next
.swiper-button-prev,
.swiper-button-next {
  opacity: 0;
  // position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  transition: all 0.3s;

  @media (any-hover: hover) {
    &:hover {
      &::before {
        opacity: 0.7;
      }
    }
  }

  svg {
    z-index: 3;
  }

  &::after {
    display: none;
  }

  &::before {
    content: '';
    inset: 0;
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 50px;
  }
}

.flat-more__slider-wrapper {
  position: relative;
}

.flat-more__swiper-btn.swiper-button-prev,
.flat-more__swiper-btn.swiper-button-next {
  width: 50px;
  height: 50px;
  background-color: $whiteColor;
  border-radius: 50px;

  box-shadow: 0 25px 32px 0 rgba(19, 62, 124, 0.19);

  &::before {
    display: none;
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: $masterColor;

      svg {
        path {
          fill: $whiteColor;
        }
      }
    }
  }
}

.flat-more__swiper-btn.swiper-button-prev {
  left: -50px;
}

.flat-more__swiper-btn.swiper-button-next {
  right: -50px;
}

.swiper.item-catalog__photos {
  @media (max-width:$mobile) {
    margin-left: auto;
    margin-right: auto;
  }
}