.flat {
  @include adaptiveValue("padding-top", 20, 6);

  /* .flat__container */
  &__container {
    @media (max-width: toEm(600)) {
      padding-top: 58px;
    }
  }

  /* .flat__row */
  &__row {
    display: flex;
    // display: grid;
    // grid-template-columns: 57.6% 1fr;
    @include adaptiveValue("gap", 24, 1);

    @media (max-width:$tablet) {
      flex-wrap: wrap;
      // grid-template-columns: 1fr;
      // grid-template-rows: 1fr 1fr;
    }
  }

  /* .flat__content */
  &__content {
    width: 57.6%;

    @media (max-width:$tablet) {
      width: 100%;
    }
  }

  /* .flat__gallery */
  &__gallery {
    @include adaptiveValue("margin-bottom", 32, 10);
  }

  /* .flat__info */
  &__info {

    @media (max-width:$mobileSmall) {
      display: flex;
      flex-direction: column;
    }

    .item-catalog__favorite {
      top: 0;
      right: 0;
    }

    .item-catalog__desc {
      @media (max-width:$mobileSmall) {
        padding-top: 10px;
      }
    }
  }

  /* .flat__adress */
  &__adress {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
  }

  /* .flat__price */
  &__price {
    font-weight: 600;
    color: $masterColor;
    @include adaptiveValue("font-size", 22, 16);
    @include adaptiveValue("margin-bottom", 37, 5);

    @media (max-width:$mobileSmall) {
      order: -1;
    }
  }

  /* .flat__settings */
  &__mobile-title {
    display: none;

    @media (max-width:$mobile) {
      display: block;
      margin-top: 10px;
      margin-bottom: 15px;
    }
  }

  /* .flat__setting */
  &__setting {
    font-weight: 400;

    @include adaptiveValue("font-size", 16, 12);
  }

  /* .flat__text-wrapper */
  &__text-wrapper {
    max-width: 676px;
    position: relative;

    // margin-bottom: 30px;
    // margin-bottom: 67px;

    @include adaptiveValue("margin-bottom", 67, 30);

    @media (max-width:$mobile) {
      height: 150px;
    }
  }

  /* .flat__text-content */
  &__text-content {
    overflow: hidden;
    position: relative;
    max-height: 4.5em;
    /* Ограничение высоты текста (3 строки) */
    transition: max-height 0.3s ease;
    /* Плавный переход */

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3em;
      /* Высота градиента */
      background: linear-gradient(0deg, #f4f4f4 0%, rgba(244, 244, 244, 0) 100%);
      pointer-events: none;
    }

    &.open {
      max-height: none;

      /* Убираем ограничение высоты */
      &::after {
        display: none;
      }
    }

    @media (max-width:$mobile) {
      max-height: 6.5em;
    }

  }

  /* .flat__text */
  &__text {

    font-weight: 400;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);

    @include adaptiveValue("font-size", 16, 10);
  }

  &__read-more {
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 5px;

    font-weight: 400;
    line-height: 133%;
    color: $masterColor;
    @include adaptiveValue("font-size", 15, 12);
  }

  /* .flat__equipment */
  &__equipment {
    @include adaptiveValue("margin-bottom", 50, 32);
  }

  /* .flat__equipment-title */
  &__equipment-title {
    @include adaptiveValue("margin-bottom", 30, 14);
  }

  /* .flat__equipment-list */
  &__equipment-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 473px;
    width: 100%;
    gap: 10px 0;
    justify-content: space-between;

    @media (max-width:$mobile) {
      gap: 4px 0;
    }
  }

  &__equipment-item {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 200px;
    width: 100%;

    @include adaptiveValue("gap", 16, 4);

    @media (max-width:$mobile) {
      max-width: 172px;
    }
  }

  &__equipment-icon {}

  &__equipment-name {
    font-weight: 400;
    font-size: 14px;
    color: rgba(5, 5, 5, 0.8);

    @media (max-width:$mobile) {
      font-size: 12px;
    }
  }

  /* .flat__rules */
  &__rules {
    @media (max-width:$tablet) {
      margin-bottom: 30px;
    }
  }

  &__rules-title {
    @include adaptiveValue("margin-bottom", 34, 16);
  }

  /* .flat__rules-list */
  &__rules-list {
    display: flex;
    flex-wrap: wrap;
    gap: 21px 25px;
    width: 100%;

    @media (max-width:$mobile) {
      gap: 11px 11px;
    }
  }

  /* .flat__rules-item */
  &__rules-item {
    display: flex;
    width: 35.4%;
    justify-content: space-between;
    padding-bottom: 7px;
    border-bottom: 1px solid #EDEDED;

    @media (max-width:$tablet) {
      width: 32.4%;
    }

    @media (max-width:$mobile) {
      width: 48.4%;
    }
  }

  &__rules-name {
    font-weight: 400;
    color: rgba(5, 5, 5, 0.6);

    @include adaptiveValue("font-size", 14, 10);
  }

  &__rules-value {
    font-weight: 400;
    color: rgba(5, 5, 5, 0.8);

    @include adaptiveValue("font-size", 14, 10);
  }

  &__geo {
    position: sticky;
    top: 81px;
    // position: relative;
    border-radius: 6px;
    overflow: hidden;
    // width: 42.4%;

    @media (min-width:$tablet) {
      height: 600px;
      flex-basis: 42.4%;
    }

    @media (max-width:$tablet) {
      position: static;
      width: 100%;
    }
  }

  /* .flat__map */
  &__map {
    margin-bottom: 14px;
    inset: 0;

    @media (min-width:$tablet) {
      position: absolute;
    }

    #map {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      // height: 100%;
      height: 439px;

      @media (max-width: toEm(600)) {
        height: 300px;
      }

      @media (max-width:$mobileSmall) {
        height: 200px;
      }
    }
  }

  /* .flat__btn */
  &__btn {
    width: 100%;
    background-color: $whiteColor;
    transition: all 0.3s;
    position: relative;
    z-index: 10;
    @include adaptiveValue("height", 67, 45);

    span {
      color: $masterColor;
      @include adaptiveValue("font-size", 22, 14);
    }

    &_blue {
      margin-top: toRem(15);
      margin-bottom: 7px;
      background-color: $masterColor;

      @media (any-hover: hover) {
        &:hover {
          background-color: #5090ee;
        }
      }

      span {
        color: $whiteColor;
      }

    }
  }

  /* .flat__more */
  &__more {
    @include adaptiveValue("padding-top", 110, 16);
  }

  /* .flat__more-item */
  &__more-item {
    position: relative;
    padding: 12px;
    background-color: $whiteColor;

    @include adaptiveValue("border-radius", 20, 10);

    @media (max-width:$mobile) {
      padding: 6px;
    }

    .item-catalog__desc {
      @media (max-width:$mobile) {
        margin-bottom: 14px;
      }
    }

    .flat-catalog-photos {

      @media (max-width: toEm(600)) {
        height: 168px;
        margin-bottom: toRem(13);
      }

      @media (max-width:$mobileSmall) {
        height: 118px;
      }
    }
  }

  &__more-slide {}


  &__more-title {
    @include adaptiveValue("margin-bottom", 41, 27);
  }

  /* .flat__pagination */
  &__pagination {
    opacity: 0;
    transition: opacity 0.3s;
  }

  /* .flat__more-info */
  &__more-info {
    .item-catalog__desc {
      @include adaptiveValue("gap", 26, 12);
    }

    .item-desc {
      @include adaptiveValue("font-size", 14, 8);

      @media (max-width:$mobile) {
        &::before {
          right: -10px;
        }
      }

    }
  }

  /* .flat__more-adress */
  &__more-adress {
    margin-bottom: 5px;

    font-weight: 600;
    @include adaptiveValue("font-size", 22, 12);
  }

  /* .flat__more-price */
  &__more-price {
    margin-bottom: 17px;

    font-weight: 600;
    color: $masterColor;
    @include adaptiveValue("font-size", 22, 10);
  }

  /* .flat__more-settings */
  &__more-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: rgba(0, 0, 0, 0.6);

    margin-bottom: 35px;

    @media (max-width:$tablet) {
      display: none;
    }
  }

  /* .flat__more-btn */
  &__more-btn {
    position: relative;
    z-index: 100;
    width: 100%;
    background-color: $masterColor;
    transition: all 0.3s;

    @include adaptiveValue("height", 62, 32);

    span {
      @include adaptiveValue("font-size", 16, 10);
    }

    @media (any-hover: hover) {
      &:hover {
        background-color: #5090ee;
      }
    }
  }
}

.flat-mob-line {
  display: none;

  @media (max-width: toEm(600)) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;

    a {
      display: flex;
      align-items: center;
      gap: 2px;

      font-size: toRem(14);
      color: $masterColor;
    }
  }
}

.flat-title {
  line-height: 100%;
  color: $mainColor;
  font-weight: 600;
  @include adaptiveValue("font-size", 30, 14);

  @media (max-width:$mobile) {
    font-weight: 500;
    letter-spacing: -0.02em;
  }
}

.swiper {}

.gallery-top {


  /* .gallery-top__slider */
  &__slider {
    transition: opacity 0.3s;

    border-radius: 6px;
    position: relative;

    @media (any-hover: hover) {
      &:hover {

        .gallery-arrow.swiper-button-prev,
        .gallery-arrow.swiper-button-next {
          opacity: 1;
        }
      }
    }

  }

  /* .gallery-top__wrapper */
  &__wrapper {}

  /* .gallery-top__slide */
  &__slide {}
}

.swiper-wrapper {}

.swiper-slide {}

.swiper-pagination {}

.swiper-button-prev {}

.gallery-arrow {}

.gallery-prev {}

.swiper-button-next {}

.gallery-next {}

.gallery-thumbs {

  /* .gallery-thumbs__slider */
  &__slider {
    margin-top: 10px;

    @media (max-width: toEm(500)) {
      display: none;
    }

    // border-radius: 6px;

  }
}

.gallery-thumb {

  /* .gallery-thumb__wrapper */
  &__wrapper {}
}

.gallery-thumbs-slide {
  border-radius: 6px;
  overflow: hidden;

  img {
    aspect-ratio: 133 / 105;
  }
}

.read-more-btn {}

.btn {}

.flat-more {

  /* .flat-more__slider */
  &__slider {
    position: relative;
  }

  /* .flat-more__wrapper */
  &__wrapper {}

  /* .flat-more__slide */
  &__slide {}

  /* .flat-more__swiper-btn */
  &__swiper-btn {
    opacity: 1;
    z-index: 100;
  }
}

.flat-catalog-photos {
  max-width: 374px;
  height: 237px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 16px;

  @include adaptiveValue("border-radius", 10, 4);

  @media (any-hover: hover) {
    &:hover {
      .flat__pagination {
        opacity: 1;
      }
    }
  }
}