.flat {
  @include adaptiveValue("padding-top", 20, 6);

  /* .flat__container */
  &__container {}

  /* .flat__row */
  &__row {
    display: grid;
    grid-template-columns: 57.6% auto;
    @include adaptiveValue("gap", 40, 1);
  }

  /* .flat__content */
  &__content {}

  /* .flat__gallery */
  &__gallery {
    margin-bottom: 32px;
  }

  /* .flat__info */
  &__info {
    .item-catalog__favorite {
      top: 0;
      right: 0;
    }
  }

  /* .flat__adress */
  &__adress {
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 8px;
  }

  /* .flat__price */
  &__price {
    margin-bottom: 37px;

    font-weight: 600;
    color: $masterColor;
    @include adaptiveValue("font-size", 22, 16);
  }

  /* .flat__settings */
  &__settings {}

  /* .flat__setting */
  &__setting {
    font-weight: 400;

    @include adaptiveValue("font-size", 16, 12);
  }

  /* .flat__text-wrapper */
  &__text-wrapper {
    max-width: 676px;
    position: relative;

    margin-bottom: 30px;
    margin-bottom: 67px;
  }

  /* .flat__text-content */
  &__text-content {
    overflow: hidden;
    position: relative;
    max-height: 4.5em;
    /* Ограничение высоты текста (3 строки) */
    transition: max-height 0.3s ease;
    /* Плавный переход */

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 3em;
      /* Высота градиента */
      background: linear-gradient(0deg, #f4f4f4 0%, rgba(244, 244, 244, 0) 100%);
      pointer-events: none;
    }

    &.open {
      max-height: none;

      /* Убираем ограничение высоты */
      &::after {
        display: none;
      }
    }

  }

  /* .flat__text */
  &__text {

    font-weight: 400;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.8);

    @include adaptiveValue("font-size", 16, 10);
  }

  &__read-more {
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 5px;

    font-weight: 400;
    line-height: 133%;
    color: $masterColor;
    @include adaptiveValue("font-size", 15, 12);
  }

  /* .flat__equipment */
  &__equipment {
    margin-bottom: 50px;
  }

  /* .flat__equipment-title */
  &__equipment-title {
    margin-bottom: 30px;
  }

  /* .flat__equipment-list */
  &__equipment-list {
    display: flex;
    flex-wrap: wrap;
    max-width: 473px;
    width: 100%;
    gap: 10px 0;
    justify-content: space-between;
  }

  &__equipment-item {
    display: flex;
    align-items: center;
    gap: 16px;
    max-width: 200px;
    width: 100%;
  }

  &__equipment-icon {}

  &__equipment-name {
    font-weight: 400;
    font-size: 14px;
    color: rgba(5, 5, 5, 0.8);

    @media (max-width:$mobile) {
      font-size: 12px;
    }
  }

  /* .flat__rules */
  &__rules {}

  &__rules-title {
    margin-bottom: 34px;
  }

  /* .flat__rules-list */
  &__rules-list {
    display: flex;
    flex-wrap: wrap;
    gap: 21px 25px;
    width: 100%;
  }

  /* .flat__rules-item */
  &__rules-item {
    display: flex;
    width: 35.4%;
    justify-content: space-between;
    padding-bottom: 7px;
    border-bottom: 1px solid #EDEDED;
  }

  &__rules-name {
    font-weight: 400;
    color: rgba(5, 5, 5, 0.6);

    @include adaptiveValue("font-size", 14, 10);
  }

  &__rules-value {
    font-weight: 400;
    color: rgba(5, 5, 5, 0.8);

    @include adaptiveValue("font-size", 14, 10);
  }

  &__geo {
    position: sticky;
    top: 81px;
    // position: relative;
    height: 439px;
  }

  /* .flat__map */
  &__map {
  background-color: red;
    #map {
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      // height: 100%;
      height: 439px;
    }
  }

  /* .flat__btn */
  &__btn {

  }

  /* .flat__more */
  &__more {}

  /* .flat__more-item */
  &__more-item {}

  /* .flat__pagination */
  &__pagination {}

  /* .flat__more-info */
  &__more-info {}

  /* .flat__more-adress */
  &__more-adress {}

  /* .flat__more-price */
  &__more-price {}

  /* .flat__more-settings */
  &__more-settings {}

  /* .flat__more-btn */
  &__more-btn {}
}

.flat-mob-line {
  display: none;
}

.flat-title {
  line-height: 100%;
  color: $mainColor;
  font-weight: 600;
  @include adaptiveValue("font-size", 30, 14);

  @media (max-width:$mobile) {
    font-weight: 500;
    letter-spacing: -0.02em;
  }
}

.swiper {}

.gallery-top {

  /* .gallery-top__slider */
  &__slider {
    border-radius: 6px;
  }

  /* .gallery-top__wrapper */
  &__wrapper {}

  /* .gallery-top__slide */
  &__slide {}
}

.swiper-wrapper {}

.swiper-slide {}

.swiper-pagination {}

.swiper-button-prev {}

.gallery-arrow {}

.gallery-prev {}

.swiper-button-next {}

.gallery-next {}

.gallery-thumbs {

  /* .gallery-thumbs__slider */
  &__slider {
    margin-top: 10px;

    // border-radius: 6px;

  }
}

.gallery-thumb {

  /* .gallery-thumb__wrapper */
  &__wrapper {}
}

.gallery-thumbs-slide {
  border-radius: 6px;
  overflow: hidden;

  img {
    aspect-ratio: 133 / 105;
  }
}

.read-more-btn {}

.btn {}

.flat-more {

  /* .flat-more__slider */
  &__slider {}

  /* .flat-more__wrapper */
  &__wrapper {}

  /* .flat-more__slide */
  &__slide {}

  /* .flat-more__swiper-btn */
  &__swiper-btn {}
}

.item-catalog {

  /* .item-catalog__link */
  &__link {}

  /* .item-catalog__photos */
  &__photos {}

  /* .item-catalog__favorite */
  &__favorite {}

  /* .item-catalog__pagination */
  &__pagination {}
}

.flat-catalog-photos {}

.svg-fav-null {}

.svg-fav-path {}

.svg-fav-fill {}