.guests {

  @include adaptiveValue("padding-top", 120, 80);
  @include adaptiveValue("padding-bottom", 120, 80);

  /* .guests__container */
  &__container {}

  /* .guests__title */
  &__title {}

  /* .guests__box */
  &__box {
    display: grid;
    grid-template-columns: 49.1% 1fr;
    gap: 23px;
  }

  /* .guests__media */
  &__media {
    overflow: hidden;
    position: relative;

    @include adaptiveValue("border-radius", 20, 10);

    img {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  /* .guests__gradient */
  &__gradient {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: linear-gradient(180.00deg, rgba(17, 108, 240, 0) 36.686%, rgba(17, 108, 240, 0.4) 70.211%);
  }

  /* .guests__items */
  &__items {
    display: grid;
    gap: 8px;
  }

  /* .guests__row */
  &__row {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  /* .guests__item */
  &__item {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    border-radius: 50px;
    padding: 15px;
    height: 62px;
    width: 100%;

    background-color: $whiteColor;

    span {
      font-size: toRem(16);
    }

    /* .guests__item_1 */
    &_1 {
      // max-width: 316px;
      width: 53%;
    }

    /* .guests__item_2 */
    &_2 {
      width: 46%;
      // max-width: 277px;
    }

    /* .guests__item_3 */
    &_3 {
      // width: 100%;
    }

    /* .guests__item_4 */
    &_4 {
      width: 52%;
    }

    /* .guests__item_5 */
    &_5 {
      width: 47%;
    }

    /* .guests__item_6 */
    &_6 {}

    /* .guests__item_7 */
    &_7 {
      width: 60%;
    }

    /* .guests__item_8 */
    &_8 {
      width: 39%;
    }

    /* .guests__item_9 */
    &_9 {}

    /* .guests__item_10 */
    &_10 {
      width: 53.1%;
    }

    /* .guests__item_11 */
    &_11 {
      width: 48.83%;
    }

    /* .guests__item_12 */
    &_12 {}

    /* .guests__item_13 */
    &_13 {
      width: 44.33%;
    }

    /* .guests__item_14 */
    &_14 {
      width: 54.8%;
    }

    /* .guests__item_15 */
    &_15 {}
  }
}

.title-h2 {}