//====================================================================================================
.header {

	&__container_header {}

	&__wrapper {
		position: fixed;
		margin-top: toRem(36);
		margin-left: auto;
		margin-right: auto;
		max-width: toRem(1325);

		padding-right: 23px;
		padding-left: 40px;

		backdrop-filter: blur(17.100000381469727px);
		background: rgba(255, 255, 255, 0.26);
		background-color: red;
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		inset: 0;
		height: toRem(77);
		// width: 100%;

		transition: all 0.4s;
		z-index: 30;

		@include adaptiveValue("margin-top", 36, 0);

		._fixed & {
			max-width: 100%;
			margin-top: 4px;
			margin-left: 6px;
			margin-right: 6px;
		}

		@media (max-width:$tablet) {
			margin-top: 6px;
		}
	}

	&__nav,
	&__buttons {
		display: flex;
		align-items: center;
	}

	&__nav {
		gap: 56px;
	}


	&__logo {
		// img {
		// 	@include adaptiveValue("width", 175, 80);
		// }
	}

	&__btn {
		margin-left: 8px;
	}
}

.menu {
	padding: 0 toRem(10); // отступы безопасности


	// .menu__body

	&__body {
		display: flex;
		width: 100%;
		// background-color: $terraсotаColor;
		// color: $mainColor;
		gap: 56px;

		transition: all .7s;

		@media (max-width:$mobile) {
			flex-direction: column;
			align-items: flex-start;
			position: fixed;
			overflow: auto;
			height: 100%;
			top: 0;
			left: 0;
			transform: scale(.7);
			visibility: hidden;
			opacity: 0;
			padding: toRem(120) toRem(20) toRem(35);

			.menu-open & {
				transform: scale(1);
				transition: all .7s;
				opacity: 1;
				visibility: visible;
				z-index: 900;
			}
		}
	}

	&__item {

		font-family: var(--second-family);
		font-size: toRem(16);
		line-height: 100%;
		letter-spacing: -0.05em;
		color: $whiteColor;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}

	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: toRem(17);
		height: toRem(18);
		z-index: 990;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(3);
			background-color: $whiteColor;
			border-radius: toRem(15);
		}

		&::before {
			top: toRem(1);
			right: toRem(7);
			width: toRem(15);
		}

		&::after {
			bottom: toRem(0);
			right: toRem(16);
			width: toRem(15);
		}

		span {
			top: calc(50% - toRem(1));
			width: toRem(24);
			right: toRem(7);
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {
				// background-color: $mainColor;
			}

			&::before {
				top: toRem(5);
				// top: calc(50% - toRem(1));
				right: toRem(7);
				transform: rotate(-45deg);
			}

			&::after {
				bottom: toRem(10);
				right: 0.4rem;
				// bottom: calc(50% - toRem(1));
				transform: rotate(45deg);
			}
		}
	}
}