//====================================================================================================
.header {

	&__container_header {}

	&__wrapper {
		position: fixed;
		margin-top: toRem(36);
		margin-left: auto;
		margin-right: auto;
		max-width: toRem(1325);

		padding-right: 23px;
		padding-left: 40px;

		backdrop-filter: blur(17px);
		background: rgba(255, 255, 255, 0.26);
		border-radius: 6px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		inset: 0;
		height: toRem(77);
		// width: 100%;

		transition: all 0.4s;
		z-index: 800;

		@include adaptiveValue("padding-left", 40, 15);
		@include adaptiveValue("margin-top", 36, 0);

		.menu-open & {
			border-radius: 6px 6px 0 0;
		}


		@media (max-width: toEm(1355)) {
			margin-right: 15px;
			margin-left: 15px;
		}

		@media (max-width: toEm(1100)) {
			padding-left: 15px;
		}

		@media (max-width:$tablet) {
			background-color: $whiteColor;
			height: 48px;
			margin-top: 4px;
			margin-left: 5px;
			margin-right: 5px;
			// margin: 0 auto;
		}

		._fixed & {
			margin-top: 4px;
			background-color: $whiteColor;
			// margin-left: 6px;
			// margin-right: 6px;
			// background-color: #5090ee;

		}

		@media (max-width:$tablet) {}
	}

	&__nav,
	&__buttons {
		display: flex;
		align-items: center;
	}

	&__nav {

		@include adaptiveValue("gap", 56, 15);

		@media (max-width: toEm(1100)) {
			gap: 15px;
		}

		@media (max-width: toEm(435)) {
			margin-right: -35px;
		}
	}


	&__logo {
		cursor: pointer;

		img {
			width: 108px;
			// @include adaptiveValue("width", 175, 80);

			@media (max-width:$mobile) {
				width: 90px;
			}
		}
	}

	&__btn {
		margin-left: 8px;
	}
}

.menu {
	padding: 0 toRem(10); // отступы безопасности


	// .menu__body

	&__body {
		display: flex;
		width: 100%;

		transition: all 1s;

		@include adaptiveValue("gap", 56, 15);

		@media (max-width: toEm(1100)) {
			gap: 15px;
		}

		@media (max-width:$tablet) {
			flex-direction: column;
			align-items: flex-start;
			position: fixed;
			overflow: auto;
			height: 100%;
			top: 0;
			left: 0;
			// transform: scale(.7);
			visibility: hidden;
			opacity: 0;
			padding: toRem(75) toRem(20) toRem(20);
			min-height: 208px;
			gap: 8px !important;

			.menu-open & {
				// transform: scale(1);
				transition: all .7s;
				opacity: 1;
				visibility: visible;
				z-index: 700;
				background-color: $whiteColor;
				transform: translate(0, 48px);
				border-radius: 0 0 6px 6px;
			}
		}
	}

	&__item {

		font-family: var(--second-family);
		font-size: toRem(16);
		line-height: 100%;
		letter-spacing: -0.05em;
		color: $whiteColor;

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}

		@media (max-width:$tablet) {
			color: $mainColor;
		}

		._fixed & {
			color: #595959;
		}

	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;

	@media (max-width: $tablet) {
		display: block;
		position: relative;
		width: toRem(17);
		height: toRem(18);
		z-index: 990;

		@media (any-hover: none) {
			cursor: default;
		}

		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: toRem(4);
			background-color: $masterColor;
			border-radius: toRem(20);
		}

		&::before {
			top: toRem(0);
			// right: toRem(7);
			width: toRem(27);
		}

		&::after {
			bottom: toRem(0);
			// right: toRem(16);
			width: toRem(27);
		}

		span {
			top: calc(50% - toRem(2));
			width: toRem(27);
		}

		.menu-open & {
			span {
				width: 0;
			}

			&::before,
			&::after {
				// background-color: $mainColor;
			}

			&::before {
				top: calc(50% - toRem(2));
				transform: rotate(-45deg);
			}

			&::after {
				bottom: calc(50% - toRem(2));
				transform: rotate(45deg);
			}
		}
	}
}