.intro {
  @media (min-width:$tablet) {
    margin-top: toRem(16);
  }

  &__container_intro {
    // padding-top: 203px;
    // padding-bottom: 114px;
    position: relative;
    width: 100%;
    overflow: hidden;

    @include adaptiveValue("padding-top", 203, 244);
    @include adaptiveValue("padding-bottom", 114, 17);

    .intro__container {

      @media (max-width:$tablet) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    @media (min-width:$tablet) {
      border-radius: 20px;
    }
  }

  &__content {
    position: relative;
    z-index: 10;
  }

  &__gradient {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180.00deg, rgba(5, 38, 78, 0) 18.039%, rgba(5, 38, 78, 0.4) 68.369%);
    z-index: 1;
  }

  &__img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


  &__title {
    font-weight: 700;
    line-height: 98%;
    letter-spacing: -0.01em;
    color: #fff;

    @include adaptiveValue("margin-bottom", 30, 20);

    @include adaptiveValue("font-size", 65, 26);

    @media (max-width:$mobile) {
      line-height: 100%;
    }
  }

  &__text {
    margin-bottom: 35px;

    letter-spacing: -0.01em;
    color: rgba(255, 255, 255, 0.9);

    @include adaptiveValue("font-size", 25, 16);
  }


}

.search-filter {

  padding: 10px;
  border-radius: 10px;
  background: $whiteColor;
  width: 100%;
  // height: 60px;

  @media (max-width:$mobile) {
    background: #eaeaea;
  }

  &.intro__search-filter {
    max-width: 713px;
  }

  ._catalog & {
    @media (max-width: toEm(538)) {
      background-color: transparent;
      padding: 0;
    }
  }

}

.filter {
  display: flex;
  gap: 6px;

  ._catalog & {
    @media (max-width: toEm(1154)) {
      gap: 3px;
    }
  }

  ._catalog & {
    @media (max-width: toEm(1145)) {
      justify-content: space-between;
      gap: 6px;
    }
  }

  ._catalog & {
    @media (max-width: toEm(723)) {
      flex-wrap: wrap;
      row-gap: 10px;
    }
  }


  .intro__search-filter & {
    @media (max-width:$mobile) {
      flex-direction: column;
    }
  }
}


.filter-checkboxes {
  display: flex;
  padding: 0 12px;
  // flex: auto;
  height: 40px;
  background: #FFFFFF;
  align-items: center;
  justify-content: space-between;
  gap: 13px;
  // color: rgba(0, 0, 0, 0.4);
  border: 1px solid #ebebeb;
  border-radius: 6px;

  @media (min-width:$mobile) {
    justify-content: center;
  }

  ._catalog & {
    background-color: #f9f9f9;
    border: none;

    @media (max-width: toEm(538)) {
      background-color: #eaeaea;
    }

    @media (max-width: toEm(390)) {
      padding: 0 6px;
    }

    .filter-name {
      @media (max-width: toEm(538)) {
        display: none;
      }
    }
  }

  // @media (max-width:$mobile){
  //    j 
  // }

  p {
    font-weight: 400;
    font-size: 15px;
    line-height: 107%;
    color: rgba(0, 0, 0, 0.7);
  }
}

.filter-checkboxes-list {
  // display: flex;
  // gap: 1px;
}

.filter-checkboxes-list .filter-checkbox input:checked~span {
  color: $whiteColor;
  background: $masterColor;
}

.filter-checkboxes-list .filter-checkbox span {
  border-radius: 6px;
  // height: 28px;
  // width: 31px;
  padding: 6px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
  cursor: pointer;

  @media (any-hover: hover) {
    &:hover {
      background: #f8f8f8;
    }
  }
}

.filter-checkbox {
  transition: all 0.3s;
  // width: 31px;

  // span {
  //   transition: all 0.3s;
  // }


  .catalog__search-filter & {
    @media (any-hover: hover) {
      span {
        &:hover {
          color: $masterColor;
        }
      }
    }
  }

  @media (any-hover: hover) {
    span {
      &:hover {
        color: #050505;
      }
    }
  }
}

.filter-checkbox input {
  display: none;
}

.filter-checkboxes_rooms {

  &._catalog {
    flex: 0 1 317px;

    @media (max-width: toEm(1156)) {
      flex: 0 1 300px;

      @media (max-width: toEm(723)) {
        flex-basis: auto;
      }
    }
  }
}

.filter-checkboxes_guest {

  &._catalog {
    flex: 0 1 210px;

    @media (max-width: toEm(723)) {
      flex-basis: auto;
    }
  }
}

.filter-checkboxes_beds {

  &._catalog {
    flex: 0 1 237px;

    @media (max-width: toEm(1145)) {
      display: none;
    }
  }

}