.moving {


	/* .moving__container */
	&__container {

		@media (max-width: toEm(1230)){
			 padding: 0 0px; 
		}

		&_width {
			max-width: 1440px;
			margin: 0 auto;
			background-color: $secondColor;
			@include adaptiveValue("padding-top", 85, 60);
			@include adaptiveValue("padding-bottom", 85, 24);
			@include adaptiveValue("border-radius", 20, 10);
		}
	}

	/* .moving__title */
	&__title {
		color: $masterColor;
	}

	/* .moving__items */
	&__items {
		display: grid;
		grid-template-columns: repeat(4, 1fr);

		@include adaptiveValue("gap", 24, 5);

		@media (max-width: toEm(1200)) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
		}

		@media (max-width: toEm(550)) {
			grid-template-columns: 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
		}
	}

	/* .moving__item */
	&__item {
		position: relative;
		padding: 23px;
		border-radius: 10px;
		background-color: $whiteColor;
		// height: 100%;
		flex-shrink: 0;

		@include adaptiveValue("padding-left", 23, 25);

		&:not(:last-child) {
			&::before {
				content: '';
				position: absolute;
				width: 14px;
				height: 11px;
				top: 50%;
				right: -19px;
				transform: translate(0px, -50%);
				background: url('@img/arrow.svg') 0 0 no-repeat;

				@media (max-width: toEm(1200)) {
					display: none;
				}
			}
		}

	}

	/* .moving__number */
	&__number {
		width: toRem(49);
		height: toRem(49);
		display: flex;
		justify-content: center;
		align-items: center;

		border-radius: 50px;
		background-color: $masterColor;

		line-height: 111%;
		letter-spacing: -0.03em;
		color: $whiteColor;

		@include adaptiveValue("font-size", 18, 14);
		@include adaptiveValue("margin-bottom", 44, 20);
	}

	/* .moving__name */
	&__name {
		font-weight: 600;
		line-height: 110%;
		color: rgba(0, 0, 0, 0.8);

		@include adaptiveValue("font-size", 24, 20);
		@include adaptiveValue("margin-bottom", 11, 9);
	}

	/* .moving__text */
	&__text {
		font-weight: 400;
		line-height: 122%;
		color: rgba(0, 0, 0, 0.8);

		@include adaptiveValue("font-size", 18, 14);

		@media (max-width:$mobile){
		line-height: 128%;
		}
	}
}