.partners {
	@include adaptiveValue("padding-bottom", 143, 80);

	/* .partners__container */
	&__container {
		// overflow: visible;
	}

	/* .partners__title */
	&__title {}

	/* .partners__row */
	&__row {}

	/* .partners__slider */
	&__slider {

		@media (max-width:$mobile) {
			// overflow: visible !important;
		}
	}

	/* .partners__wrapper */
	&__wrapper {
		// display: grid;
		// grid-template-rows: 1fr 1fr;
		// grid-auto-flow: column;
		// @include adaptiveValue("gap", 20, 5);
	}

	/* .partners__slide */
	&__slide {
		// display: flex;

		// justify-content: center;
		// align-items: center;
		// margin-right: 20px;
		// @include adaptiveValue("margin-right", 20, 5);
	}

	/* .partners__box */
	&__box {
		// width: 26%;
		// height: 200px;
		// overflow: hidden;
		// cursor: pointer;
		// max-width: 230px;
		// min-height: 145px;
		// position: relative;
		// display: flex;
		// justify-content: center;
		// align-items: center;

		// background-color: $whiteColor;
		// width: 100%;
		// height: 100%;
		// @include adaptiveValue("border-radius", 10, 4);

		img {
			max-width: 100%;
		}

		@media (max-width:$mobileSmall) {
			// max-width: 150px;
			// max-width: 165px;
			// min-height: 67px;
		}

		// img {
		// 	position: absolute;
		// 	max-width: 100%;

		// 	@media (max-width:$mobileSmall){
		// 		 width: 50%; 
		// 	}
		// }
	}
}


// .swiper-grid-column>.swiper-wrapper {
// 	flex-direction: unset !important;
// }

// .swiper-wrapper {
// 	display: grid;
// 	grid-template-rows: 1fr 1fr;
// 	grid-auto-flow: column;
// }

.flickity-slider {
	// display: grid;
	// grid-template-rows: repeat(2, auto);
	// grid-auto-flow: column;
	// grid-auto-rows: minmax(100px, auto);
	// /* Высота строк */
	// gap: 20px;

	// display: flex;
	// display: grid;
	// grid-template-columns: 1fr 1fr;
	// grid-template-columns: repeat(9, 1fr);
	// grid-template-rows: 1fr 1fr;
	/* Используем Flexbox */
	/* Разрешаем перенос элементов на новую строку */
	// gap: 20px;
	// @include adaptiveValue("gap", 20, 5);
	/* Расстояние между элементами */
	/* Горизонтальная прокрутка */
	/* Добавляем отступ справа для выхода за пределы */

	/* Высота двух строк с учетом gap */
	/* Скрываем лишние строки */


	img {
		max-width: 100%;
		@include adaptiveValue("padding-right", 20, 5);
		@include adaptiveValue("width", 300, 150);
	}

}

.flickity-viewport {
	overflow: visible;
}

.partners__row {
	/* Используем CSS Grid */
	/* Две строки */
	/* Элементы заполняются по столбцам */
	// /* Расстояние между элементами */
	// overflow-x: auto;
	// /* Горизонтальная прокрутка */
	// padding-right: 100px;
	// /* Добавляем отступ справа для выхода за пределы */
	// scroll-snap-type: x mandatory;
	// /* Плавная прокрутка */
	// scroll-behavior: smooth;
	// /* Плавная прокрутка */
}

/* Стили для изображений */
.partners__row img {
	cursor: pointer;
	// width: 150px;
	/* Фиксированная ширина изображений */
	// height: auto;
	/* Автоматическая высота */
	// scroll-snap-align: start;
	/* Выравнивание при прокрутке */
}






// /* Стили для контейнера слайдера */
// .slider-container {
// 	width: 100%;
// 	/* Фиксированная ширина контейнера */
// 	overflow: hidden;
// 	/* Скрываем переполнение */
// 	position: relative;
// }

// /* Стили для самого слайдера */
// .flickity-slider {
// 	display: grid;
// 	/* Используем CSS Grid для создания двух строк */
// 	grid-template-rows: repeat(2, auto);
// 	/* Две строки */
// 	grid-auto-flow: column;
// 	/* Элементы заполняются по столбцам */
// 	gap: 10px;
// 	/* Расстояние между элементами */
// 	padding-right: 100px;
// 	/* Добавляем отступ справа для выхода за пределы */
// }

// /* Стили для слайдов */
// .slide {
// 	width: 150px;
// 	/* Фиксированная ширина слайда */
// 	height: 100px;
// 	/* Фиксированная высота */
// 	background-color: lightblue;
// 	border: 1px solid #ccc;
// 	text-align: center;
// 	line-height: 100px;
// 	font-size: 20px;
// }