.partners {
	@include adaptiveValue("padding-bottom", 143, 80);

	/* .partners__container */
	&__container {}

	/* .partners__title */
	&__title {}

	/* .partners__row */
	&__row {}

	/* .partners__slider */
	&__slider {

		@media (max-width:$mobile) {
			overflow: visible !important;
		}
	}

	/* .partners__wrapper */
	&__wrapper {}

	/* .partners__slide */
	&__slide {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	/* .partners__box */
	&__box {
		overflow: hidden;
		cursor: pointer;
		max-width: 230px;
		min-height: 145px;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		background-color: $whiteColor;
		width: 100%;
		height: 100%;
		@include adaptiveValue("border-radius", 10, 4);

		@media (max-width:$mobileSmall) {
			// max-width: 150px;
			max-width: 165px;
			min-height: 67px;
		}

		img {
			position: absolute;
			max-width: 100%;

			@media (max-width:$mobileSmall){
				 width: 50%; 
			}
		}
	}
}


// .swiper-grid-column>.swiper-wrapper {
// 	flex-direction: unset !important;
// }

// .swiper-wrapper {
// 	display: grid;
// 	grid-template-rows: 1fr 1fr;
// 	grid-auto-flow: column;
// }