.support {

  /* .support__container */
  &__container_width {
    max-width: 1440px;
    margin: 0 auto;
    background-color: $masterColor;
    @include adaptiveValue("border-radius", 20, 10);
    @include adaptiveValue("padding-bottom", 85, 42);
    @include adaptiveValue("padding-top", 84, 71);
  }

  &__container {
    @media (max-width:$mobile) {
      padding-left: 0;
      padding-right: 0;
    }
  }

  /* .support__title */
  &__title {
    position: relative;
    z-index: 2;
    color: $whiteColor;

    span {
      &::before {
        background-color: $mainColor;
      }

      @media (max-width: toEm(664)) {
        // width: 100%;
      }
    }

    i {
      font-style: normal;

      @media (max-width: toEm(664)) {
        display: block;
      }
    }
  }

  /* .support__items */
  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;

    @media (max-width:$tablet) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    @media (max-width:$mobile) {
      grid-template-columns: 1fr;
      // grid-template-rows: 1fr 1fr 1fr 1fr;
    }
  }

  /* .support__item */
  &__item {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: toRem(22);

    min-height: 113px;
    background-color: $whiteColor;
    @include adaptiveValue("border-radius", 10, 4);

    @media (max-width:$tablet) {
      padding: toRem(18);
    }

    @media (max-width:$mobile) {
      min-height: 76px;
    }



    &_btn {
      cursor: pointer;
      background-color: transparent;
      border: 2px solid #fff;
      gap: 10px;

      transition: all 0.3s;

      @media (any-hover: hover) {
        &:hover {
          background: #83aeeb;
          border: none;
        }
      }

      &:active {
        background-color: $whiteColor;

        span {
          color: $masterColor;
        }

        svg {
          path {
            fill: $masterColor;
          }
        }
      }

      span {
        font-family: $fontFamily;
        font-size: 24px;
        letter-spacing: -0.3px;

        @include adaptiveValue("font-size", 24, 16);
      }
    }
  }

  /* .support__icon */
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $masterColor;
    border-radius: 6px;

    flex-shrink: 0;
    @include adaptiveValue("width", 50, 38);
    @include adaptiveValue("height", 52, 40);
  }

  /* .support__text */
  &__text {
    font-weight: 400;
    line-height: 117%;
    color: #1d1d1d;

    @include adaptiveValue("font-size", 24, 16);
  }

  /* .support__btn */
  &__btn {}
}